* {
  box-sizing: border-box;
}

body{
  margin:0px;
  padding:0px;
  background-image: url("../images/landingbackground.png");
}

.landingdiv{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.landing_img{
  max-width: 100%;
}

.landing_buttons{
  overflow: hidden;
}

.landingdiv .landing_buttons a{
  padding: 2px;
  text-decoration: none;
  background-color: #3b54da;
  color: white;
  padding: 5%;
  border: solid 1px black;
  border-radius: 10%;
  margin: 2%;
  float: left;
}
