* {
  box-sizing: border-box;
}

body{
  background-image: url("../images/wood.jpg");
}

ul, ol{
  padding: 0;
}

a{
  text-decoration: none;
}

header main footer{
  color: red;
  width: 100%;
}

.top{
  overflow: hidden;
}

.lupa{
  float:left;
}

.login{
  float:right;
  padding: 3px;
}

.post{
  overflow: hidden;
}

.user{
  float: left;
}

.user{
  overflow: hidden;
}

.user_img{
  float: left;
}

.user_name{
  float: left;
}

.main_img{
  width: 100%;
}
