* {
  box-sizing: border-box;
}

body{
  margin: 0px;
  background-image: url("../images/background.jpg");
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.qualify{
  margin-left: 1%;
}

li {
  float: left;
  padding: 2%;
  border: solid 1px;
  background-color: #e7d9ec;
}

.options{
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
}

.up{
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
}

a{
  text-decoration: none;
}

button{
  background-color: #3b54da;
  color: white;
  padding: 5%;
  border: solid 1px white;
  border-radius: 15%;

}

.header .main .footer{
  width: 100%;
}

.cabecera{
  border: solid 1px;
  display: inline-block;
  width: 100%;
  background-color: white;
}

.top{
  overflow: hidden;
}

.lupa{
  float:left;
  margin: 1.15%;
}

.login{
  float:right;
  margin: 1.15%;
}

.post{
  margin-bottom: 2.35%;
}

.user{
  margin-bottom: 3.5%;
  margin-top: 3.5%;
  height: 15%;
  overflow: hidden;
}

.user_img{
  width: 20%;
  border-radius: 50%;
  margin-top: 1.15%;
  margin-left: 0.7%;
  float: left;
}

.user_name{
  float: left;
}

.main_img img{
  margin-bottom: 1.15%;
  width: 100%;
}

footer{
  width: 100%;
  position: relative;
}

.nav_final {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}

.barra{
  width: 20%;
}

.fa{
  sizing: 2%;
}

.up .down .share .options{
  list-style: none;
}

@media (min-width: ) {
  
}

@media (min-width: ) {

}
