* {
  box-sizing: border-box;
}

body{
  background-image: url("../images/wood.jpg");
}

ul, ol{
  padding: 0;
}

a{
  text-decoration: none;
}

.header .main .footer{
  display: block;
  background-color: red;
  width: 100%;
}

.header{
  overflow: hidden;
}

.lupa{
  float:left;
}

.login{
  float:right;
  padding: 3px;
}

.post{
  overflow: hidden;
  width: 100%;
}

.user{
  float: left;
  width: 20%;
  background-color: rgba(255, 255, 255, 0.3);
  overflow: hidden;
}

.user{
  overflow: hidden;
}

.user_img{
  float: left;
}

.user_name{
  float: left;
}

.main_img{
  width: 100%;
}
