*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
    background-color: black;
    color: white;
}

*::-moz-selection {
    background-color: black;
    color: white;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Ubuntu','Gelasio', sans-serif;
  display: grid
  -webkit-text-size-adjust: 100%
  -webkit-font-smoothing: antialiased
}

.hometitle{
  width: 82%;
}
.hometitleimage{
  display: block;
  height: 100%;
  width: 30%;
}

.jstest{
  width: 100%;
  height: 100%;
  background-color: #d64737;
}

/* Welcome */
.welcome1{
  font-family: 'Lilita One', cursive;
}

.welcome2{
  font-family: 'Roboto', sans-serif;
}

.welcome3{
  margin-bottom: 3px;
  font-family: 'Roboto', sans-serif;
}

/* Comments */
.formComments{
  margin-bottom: 3px;
}

/* MESSAGES */
/* Chat containers */
.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  /* padding: 10px; */
  /* margin: 10px 0; */
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container img {
  float: left;
  max-width: 50%;
  height: auto;
  /* margin-right: 20px; */
  border-radius: 50%;
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}

.formMensaje{
  color: rgba(0, 0, 0, 0.2);
  width: 100%;
  overflow: hidden;
}

.inputMensaje{
  border-radius: 3px;
  color: white;
  float: left;
  width: 20%;
}

.messageImg{
  float: left;
  width: 80;
}

/* User */
.userMaster{
  overflow: hidden;
  position: relative;
  width:100%;
  margin-bottom: 15px;
}

.userAvatar{
  max-width: 50%;
  height: auto;
  float: left;
  border-radius: 50%;
}
.userNombre{
float:left;
text-align: justify;
}

/* Main */
.hometitle{
  font-size: 1.75rem;
}

.nav-link{
  font-size: 1.5rem;
}

.mainnav{
  background-color: #d64737;
  padding-top: 0;
  padding-bottom: 0;
}

.backgroundcolor{
  height:100%;
  background-color: #f5f5f5;
}

.userContainer{
  padding: 10px 0;
}

.userColumn{
  padding: 10px 0;
}

.user_img_column{
  width: 100%;
  border-radius: 50%;
  padding: 8%;
}

.nameColumn{
  height: 100%;
  padding: 0;
}

.usernameColumn{
  display: block;
  height: 100%;
  margin: 0;
  font-size: 0.90rem;
  font-weight: bold;
}

.extrasColumn{
  margin-left: 3%;
  border: solid 1px #dedede;
  border-radius: 2%;
  margin-bottom: 5%;
  background-color: #fafafa;
}

.user_img{
  width: 100%;
  border-radius: 50%;
  padding: 8%;
}

.namecontainer{
  height: 100%;
}

.username{
  display: block;
  height: 100%;
  margin: 0;
  font-size: 1.25rem;
  font-weight: bold;
}

.mainImageContainer{
  width: 100%;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
}

.main_img{
  display: block;
  width: 100%;
  height: auto;
}

.likesContainer{
  padding-left: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.likesContainer div{
  padding: 1%;
}

.post{
  border: solid 1px #dedede;
  border-radius: 1%;
  padding: 0;
  margin-bottom: 5%;
  background-color: #fafafa;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.up, .down, .share, .options{
  list-style: none;
  float: left;
}

.qualify {
  overflow: hidden;
  list-style-type: none;
}

a, a:hover, a:focus, a:active {
     text-decoration: none;
     color: inherit;
}

.column{
  padding: 0;
}

.bottom_nav{
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
  padding: 0;
  height: auto;
  width: 100%;
  background-color: #f7f7f7;
  position: fixed;
  bottom: 0;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}

/* MODAL */

.targetElement{
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
}

.modalmain{
  background-color: #FF4136;
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* MEDIA QUERIES */

@media only screen and (min-width: 320px) {

  .hometitle{
    width: 76%;
  }

  article,.maincontainer, .post{
    padding: 0;
  }

  .column{
    display: none;
  }

  .container-fluid{
    width: 100%;
  }

  .username{
    margin: 0;
    font-size: 1.25rem;
    font-weight: bold;
  }
}
@media only screen and (min-width: 375px) {

  .hometitle{
    width: 79%;
  }

  article,.maincontainer, .post{
    padding: 0;
  }

  .column{
    display: none;
  }

  .container-fluid{
    width: 100%;
  }

  .username{
    margin: 0;
    font-size: 1.25rem;
    font-weight: bold;
  }
}

@media only screen and (min-width: 425px) {

  article,.maincontainer, .post{
    padding: 0;
  }

  .column{
    display: none;
  }

  .container-fluid{
    width: 100%;
  }

  .username{
    margin: 0;
    font-size: 1.25rem;
    font-weight: bold;
  }
}
@media only screen and (min-width: 768px) {

  .hometitle{
    width: 73%;
  }
  .column{
    display: none;
  }

  .hometitleimage{
    width: 22.5%;
  }

  .container-fluid{
    width: 100%;
  }

  .username{
    margin: 0;
    font-size: 1.25rem;
    font-weight: bold;
  }
}
@media only screen and (min-width: 1024px) {

  .column{
    display: block;
  }

  .hometitleimage{
    width: 17.5%;
  }

  /* .bottom_nav{
    display: none;
  } */

  .container-fluid{
    width: 52%;
  }

  .username{
    margin: 0;
    font-size: 1.25rem;
    font-weight: bold;
  }

}
@media only screen and (min-width: 1440px) {

  .column{
    display: block;
  }

  .hometitleimage{
    width: 12.5%;
  }

  /* .bottom_nav{
    display: none;
  } */

  .container-fluid{
    width: 52%;
  }

  .username{
    margin: 0;
    font-size: 1.25rem;
    font-weight: bold;
  }

}
