/* * {
  box-sizing: border-box;
}

body{
  margin:0px;
  padding:0px;
  width:100%;
  background-image: url("../images/background.jpg");
} */
/*
main {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;

} */

/* header{
  width: 100%;
} */

/* article {
} */

/* .likes{
  height: 15%;

} */

/* .fa{
  sizing: 2%;
} */

/* .up, .down, .share, .options{
  list-style: none;
  float: left;
} */
/*
.qualify {
  overflow: hidden;
  list-style-type: none;
} */

/* a{
  text-decoration: none;
} */

/* button{
  background-color: #3b54da;
  color: white;
  border: solid 1px white;
  border-radius: 15%;

} */

/* .header .main .footer{
  width: 100%;
} */

/* .cabecera{
  border: solid 1px;
  display: inline-block;
  width: 100%;
  background-color: white;
} */

/* .top{
  overflow: hidden;
} */

/* .lupa{
  float:left;
  margin: 1.15%;
}

.login{
  float:right;
  margin: 1.15%;
} */
/* .feed{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
} */

/* .user{
  height: 20%;
  overflow: hidden;
  display: inline-block;
} */

/* .div_img{
  height:100%;
  float: left;
  display: inline-block;
} */

/* .user_img{
  height: 100%;
  border-radius: 50%;
} */

/* .user_name{
  float: left;
} */

/* .main_img{
  height: 65%;
} */

/* .main_img img{
  height: 100%;
} */

/* .bottom_nav{
  background-color: rgb(255, 255, 255);
  width: 100%;
  position: fixed;
  height: 8%;
  margin: 0;
  padding: 0;
  left: 0;
  bottom: 0;
  text-align: center;
} */

/* .nav_final .barra{
  display: inline-block;
  margin: 0;
  padding: 0;
} */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.post{
  /* border: 1px solid black; */
  padding: 20px;
}

.userContainer{
  padding: 10px 0;
  /* border: solid 1px black; */
}

.user_img{
  width: 100%;
  border-radius: 50%;
}

.main_img{
  width: 100%;
}

.up, .down, .share, .options{
  list-style: none;
  float: left;
}

.qualify {
  overflow: hidden;
  list-style-type: none;
}

a{
  text-decoration: none;
}


@media only screen and (min-width: 768px) {
  body {

  }
  article {
    height: 55%;
    float: left;
    width: 46%;
  }
  main{
    background-color: rgba(255, 255, 255, 0.75);
  }
}
@media only screen and (min-width: 1024px) {
  body {

  }
  article {
    height: 55%;
    float: left;
    width: 46%;
    /* margin: 2% 2%; */

  }
  main{
    background-color: rgba(255, 255, 255, 0.75);
  }
}

}
