*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.backgroundcolor{
  height:100%;
  background-color: rgba(166, 191, 217, 1)
}

.post{
  /* border: 1px solid black; */
  padding: 20px;
}

.userContainer{
  padding: 10px 0;
  /* border: solid 1px black; */
}

.user_img{
  width: 100%;
  border-radius: 50%;
}

.main_img{
  width: 100%;
}

.up, .down, .share, .options{
  list-style: none;
  float: left;
}

.qualify {
  overflow: hidden;
  list-style-type: none;
}

a, a:hover, a:focus, a:active {
     text-decoration: none;
     color: inherit;
}

.bottom_nav{
  position: fixed;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.85);
}

@media only screen and (max-width: 767.98px) {


  .container-fluid{
    background-color: rgba(255, 255, 255, 1);
    width: 95%;
  }
}
@media only screen and (min-width: 768px) {


  .container-fluid{
    background-color: rgba(255, 255, 255, 1);
    width: 95%;
  }
}
@media only screen and (min-width: 1024px) {

  .container-fluid{
    background-color: rgba(255, 255, 255, 0.90);
    width: 75%;
  }

}
@media only screen and (min-width: 1440px) {

  .container-fluid{
    background-color: rgba(255, 255, 255, 0.85);
    width: 65%;
  }

}

}
